---
layout: default
title: Publications
permalink: /publications/
description: Peer-reviewed articles, reviews, book chapters and other writing by Fernando Rodriguez.
---

<section class="page-head">
  <div class="wrap">
    <h1>Publications</h1>
  </div>
</section>

<section class="section">
  <div class="wrap">
    <div class="pub-toolbar">
      <p class="label" style="margin:0">Peer-reviewed articles</p>
    </div>

    <ol class="pub-list">
      {% for pub in site.data.publications.articles %}
        {% include pub.html pub=pub %}
      {% endfor %}
    </ol>
  </div>
</section>

<section class="section">
  <div class="wrap">
    <div class="pub-toolbar">
      <p class="label" style="margin:0">Chapters, features and other writing</p>
    </div>

    <ol class="pub-list">
      {% for pub in site.data.publications.other %}
        {% include pub.html pub=pub %}
      {% endfor %}
    </ol>
  </div>
</section>
